.CharacterList {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    gap: 40px;
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fill, minmax(450px, 450px)); */
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2em;
    margin: 0 8%; */
    /* background-color: lightgrey; */
}

.CharacterLink {
    display: flex;
    justify-content: center;
    margin: 1.5rem;
}